
// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

// Font Variables
$OPEN_SANS: 'Open Sans', sans-serif;


//Colors
$LIGHT_GREY:  #ecf0f1;
$DARK_GREY:   #454545;
$FONT_GREY:   #ababab;
