<div class ="navbar">
  <%=image_tag("logo-allomarcel.png", alt: "logo-allomarcel.png", class: "navbar-logo")%>
  <ul class="navbar-right">
    <li>
      sdedsds
    </li>
    <li>
      sdds
    </li>
  </ul>
</div>
<div class= "sidebar-wrapper">
  <div class= "sidebar-nav">
    <ul>
      <li>
        <a href="">Interventions</a>
      </li>
      <li><a href=""> <%=icon("credit-card") %> Payements</a></li>
    </ul>
  </div>
</div>
